{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    <header>
      <h1 id="post-title">{{title}}</h1>
    </header>

    <section class="{{post_class}}">
      {{content}}

      {{> email}}

    </section>

  </article>

{{/post}}
